<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, inital-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My Little Forum</title>
    </head>

    <body>
        <form action="" method="post">
            <input type="text" name="content" id="content">
            <input type="submit" value="Submit">
            <ul>
                <% for (var i = 0; i < posts.length; i++) { %>
                <li><%= posts[i] %></li>
                <% } %>
            </ul>
        </form>
    </body>
</html>